.pathfinder {
  /* text-align: center; */
  /* height: 100vh; */
  margin-top: 1.5vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.centerGrid {
  margin: 0 auto;
}

#visualize-Btn {
  margin: auto 1vh;
  margin-top: 0;
  margin-bottom: 1vh;
  /* height: 5vh; */
  /* width: 10vh; */
  padding: 1vh 2vh;
  font-size: 2.2vh;
  font-style: ubuntu;
  background: rgb(219, 219, 219);
  color: black;
  /* border: black solid 0.1vh; */
  border-radius: 0.5vh;
  outline: none;
  cursor: pointer;
}

#reset-Btn {
  margin: auto 1vh;
  margin-top: 0;
  margin-bottom: 1vh;
  padding: 1vh 2vh;
  font-size: 2.2vh;
  font-style: ubuntu;
  background: rgb(196, 36, 36);
  color: white;
  /* border: black solid 0.1vh; */
  border-radius: 0.3vh;
  outline: none;
  cursor: pointer;
}

.rowWrap {
  display: flex;
}
